<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
{% extends "main.html"%}

{% block content %}

<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">3D modeling</h1>
        <p class="col-md-11 fs-5">3D modeling is the process of creating a three-dimensional representation of an object or scene using specialized software. It involves constructing digital models by defining the shape, texture, and appearance of objects in a virtual space. There are several techniques used in 3D modeling, including polygonal modeling, which uses geometric shapes like triangles or quads to create surfaces; NURBS modeling, which uses mathematical curves and surfaces to define shapes; and sculpting, where artists digitally manipulate surfaces like clay to sculpt detailed models.

          These 3D models are widely used in various industries such as animation, gaming, virtual reality, architecture, product design, and visual effects in films. 3D modeling software like Blender, Autodesk Maya, Cinema 4D, and 3ds Max provide artists with powerful tools to create detailed and realistic 3D assets. Once models are created, they can be textured, animated, and rendered to produce final images or sequences for use in various media. The field of 3D modeling continues to advance, driven by technology innovations and the demand for immersive and interactive digital experiences.
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-50 p-5 text-white bg-dark rounded-3">
          <h2>Check and ask for any service</h2>
          <p>You can see my achievements in my LinkedIn profile :<a href="https://www.linkedin.com/in/mehdi-boussoura-8892732b6/"> My LinkedIn</a>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; And if you want to get in touch with me <a href ="{{url_for('service_page')}}">click here</a> and fill the form. </p>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ouvf-4wciak?si=zPojMDQ7e8uFmssK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>

{%endblock%}